.entete_header {
    background-image: url("images/image_header.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    // background-size: 25%;
}

.entete_header span {
    display: block;
}