#entete {
    background: #000 center/cover url("images/image_entete.jpg") no-repeat fixed;
    background-size: 100%;
    height: 70vh;


    .entete__header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

        h1, h3 {
            margin-bottom: 0;
        }
    }
}