*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', arial, helvetica, sans-serif;
}

.global {
    display: flex;
    justify-content: center;
}

.global > section,
.global > header,
.global > footer {
    width: 1100px;
    // background-color: rgba($color: #000, $alpha: var(--transparence-elevee));
    padding: 5rem 1rem; 
}

#entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}

#accueil {
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}

#galerie {
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(
                    180deg,
                    var(--couleur-arriere-accueil) 50%,
                    var(--couleur-arriere-evenement) 50%
                );
}

#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}

#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}