.section_restapi,
.section_cat,
.section_pop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.section_pop {
    .carte {
        height: 400px;
    }
}

.section_posts {
    .carte {
        .titre {
            justify-content: flex-start;
            align-items: flex-end;
            column-gap: 10px;
        }
    }
}

.section__category,
.section__single {
    .carte:hover {
        border-color: rgba($color: #000000, $alpha: 0);
    }
}

.section_restapi {
    flex-direction: column;
    flex-wrap: nowrap;
    transition: height 1s;
}

.carte {
    min-width: 220px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    justify-content: space-between;
    background-color: $--clr-vert-moyen;
    color: $--clr-brun-leger;
    border: 6px solid $--clr-vert-moyen;
    border-radius: 10px;
    padding: 1rem;
    transition: border-color 0.2s;

    &:hover {
        border-color: hsl(67, 50%, 20%);
    }

    @media screen and (min-width:576px) {
        flex: 0 1 40%;
    }

    @media screen and (min-width:992px) {
        flex: 0 1 30%;
    }

    .titre {
        color: $--clr-vert-pale;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 4;

        p {
            margin: 0;

            a {
                color: $--clr-vert-leger;
            }
        }
    }

    // Pour pas affecter le carrousel
    >img {
        width: 100%;
        margin: 10px 0;
        // height: auto;
    }

    .h5:nth-of-type(2) {
        flex-grow: 1;
    }

    .post-categories {
        list-style-type: none;
        display: flex;
        margin: 0;
    }

    p {
        margin-top: 10px;
    }

    ul {
        padding-left: 0;
        justify-content: flex-start;

        a {
            color: hsl(67, 50%, 40%);
            margin: none;
        }
    }

    // ACF
    .champs {
        display: flex;
        justify-content: center;
        column-gap: 2vw;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// CSS de l'extension voyage car son css marche pas
.section_restapi {
    justify-content: space-around;
    border-radius: 12px;
    padding: 15px 0;
    background-color: hsl(67, 50%, 15%);
    transition: height 1s;

    .contenu__restapi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        margin-top: 10px;
        padding-top: 20px;
        max-height: 0px;
        opacity: 0;
        display: none;

        .restapi__carte {
            margin-bottom: 20px;
        }
    }
}
.afficherConteneur {
    // classe pour animer l'ouverture du conteneur des filtres
    .contenu__restapi {
        display: flex;
        animation: apparitionCartes 0.8s forwards;
    }
}

@keyframes apparitionCartes {
    from {
        max-height: fit-content;
        opacity: 0;
        transform: translate(0px, -40px);
    }

    to {
        opacity: 1;
        transform: unset;
        max-height: fit-content;
    }
}