.section__cours {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.carte {
    min-width: 220px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    flex: 0 1 23%;
    justify-content: space-between;
    background-color: var(--couleur-accueil);
    color: var(--couleur-arriere-accueil);
    padding: 1rem;
    border-radius: 10px;

    .titre {
        flex-grow: 3;
    }
    
    .h5:nth-of-type(2) {
        flex-grow: 1;
    }

    

}