// <nav class="menu-principal-container">
//                     <ul id="menu-principal" class="menu">
//                         <li id="menu-item-32"
//                             class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a
//                                 href="http://localhost:8080/4w4_clovis/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
//                         <li id="menu-item-33"
//                             class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a
//                                 href="http://localhost:8080/4w4_clovis/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">Technologies
//                                 émergentes</a></li>
//                     </ul>
//                 </nav>
#menu { //entete
    z-index: 100;
    width: 30vw;
    min-width: fit-content;
    position: absolute;
    @media screen and (min-width:700px) {
        width: 100vw;
        // position: static;
    }
}

.menu-principal-container { //nav
    width: 100%;
    border: 5px solid var(--b-hover-texte);
    background-color: var(--b-texte);
}

.menu { //ul
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    @media screen and (min-width:700px) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.menu-item { //li

}

.menu-item a {
    text-decoration: none;
    color: var(--couleur-evenement);
    // background-color: black;
    text-align: left;
    font-size: var(--h2);
    @media screen and (min-width:700px) {
        text-align: center;
    }
}

#chk_burger { //checkbox
    display: none;
}

#burger { //icone du checkbox
    display: block;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 5px;
    left: 5px;
    @media screen and (min-width:700px) {
        display: none;
    }
}

#chk_burger~.menu-principal-container {
    transition: transform 0.3s;
}

#chk_burger:checked~.menu-principal-container {
    transform: translate(-100%, 0);
    @media screen and (min-width:700px) {
       transform: unset;
    }
}