// <nav class="menu-principal-container">
//                     <ul id="menu-principal" class="menu">
//                         <li id="menu-item-32"
//                             class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a
//                                 href="http://localhost:8080/4w4_clovis/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
//                         <li id="menu-item-33"
//                             class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a
//                                 href="http://localhost:8080/4w4_clovis/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">Technologies
//                                 émergentes</a></li>
//                     </ul>
//                 </nav>
#menu { //entete
    z-index: 100;
    // width: 100vw;
    // height: 50vh;
    background-color: gray;
    // min-width: fit-content;
    position: fixed;
    @media screen and (min-width:700px) {
        height: 20vh;
        width: 100vw;
    }
}

#menu a img {
    width: 50px;
    height: 50px;
}

.menu-principal-container { //nav
    width: 100%;
    border: 5px solid var(--b-hover-texte);
    background-color: var(--b-texte);
    @media screen and (min-width:700px) {
        height: 10vh;
    }
}

.menu { //ul
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 10%;
    // pointer-events: none;
    @media screen and (min-width:700px) {
        flex-direction: row;
        justify-content: space-around;
        height: inherit;
        padding: 2%;
        margin: unset;
    }
}

#menu label {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
}
.menu-item { //li

}

.menu-item a {
    text-decoration: none;
    color: var(--couleur-evenement);
    text-align: center;
    font-size: 2rem;
    user-select: none;
    @media screen and (min-width:700px) {
        font-size: 1.5rem;
    }
}

#chk_burger { //checkbox
    display: none;
}

#burger { //icone du checkbox
    z-index: 1000;
    display: block;
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 15px;
    right: 15px;
    box-shadow: 0 2px 8px 0px #555;
    @media screen and (min-width:700px) {
        display: none;
    }
}

#chk_burger~.menu-principal-container {
    transition: transform 0.3s;
    transform: translate(100%, 0);
    @media screen and (min-width:700px) {
        transform: translate(0%, 0);
     }
}
#chk_burger:checked~#burger {
    background-color: var(--couleur-evenement);
}

#chk_burger:checked~.menu-principal-container {
    transform: translate(0, 0);
    pointer-events: all;
    // background-color: red;
    @media screen and (min-width:700px) {
       transform: unset;
    }
}