// <nav class="menu-principal-container">
//                     <ul id="menu-principal" class="menu">
//                         <li id="menu-item-32"
//                             class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a
//                                 href="http://localhost:8080/4w4_clovis/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
//                         <li id="menu-item-33"
//                             class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a
//                                 href="http://localhost:8080/4w4_clovis/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">Technologies
//                                 émergentes</a></li>
//                     </ul>
//                 </nav>
#menu { //entete
    z-index: 100;
    position: fixed;
    @media screen and (min-width:700px) {
        height: 13vh;
        width: 100vw;
    }
}

#menu a img {
    width: 10vh;
    height: 10vh;
}

.menu-principal-container { //nav
    width: 100%;
    border: 5px solid $--clr-vert-moyen;
    background-color: $--clr-brun-moyen;
    @media screen and (min-width:700px) {
        height: 10vh;
    }
}

.menu { //ul
    border: 10px $--clr-brun-moyen;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    list-style-type: none;
    @media screen and (min-width:700px) {
        flex-direction: row;
        justify-content: center;
        padding: 0%;
        margin: unset;
    }
}

#menu label { //icone du bouton
    background-color: white;
    border-radius: 50px;
    padding: 20px;
}

.menu-item { //li
    flex-basis: 12.5%; // 100/8
    border-right: 2px solid $--clr-brun-moyen;
    background-position-x: 0;
    background-size: 200px;
    // background-color: $--clr-vert-moyen;
    background-position-y: 0px;
    background-image: linear-gradient(0deg, $--clr-vert-moyen 0%, $--clr-brun-leger 120%);
    transition: background-position-y 0.3s linear;
    &:last-of-type {
        border-right: none;
    }
    &:hover {
        background-position-y: -100px;
        // background-image: linear-gradient(160deg, $--clr-vert-moyen 80%, $--clr-brun-leger 150%);
    }
}

.menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $--clr-brun-pale;
    font-size: 2rem;
    user-select: none;
    &:hover {
        color: $--clr-vert-moyen;
    }
    @media screen and (min-width:700px) {
        font-size: 1.5rem;
    }
}

#chk_burger { //checkbox
    display: none;
}

#burger { //icone du checkbox
    z-index: 1000;
    display: block;
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 15px;
    right: 15px;
    box-shadow: 0 2px 8px 0px #555;
    @media screen and (min-width:700px) {
        display: none;
    }
}

#chk_burger~.menu-principal-container {
    transition: transform 0.3s;
    transform: translate(100%, 0);
    @media screen and (min-width:700px) {
        transform: translate(0%, 0);
     }
}
#chk_burger:checked~#burger {
    background-color: var(--couleur-evenement);
}

#chk_burger:checked~.menu-principal-container {
    transform: translate(0, 0);
    pointer-events: all;
    @media screen and (min-width:700px) {
       transform: unset;
    }
}