.entete__header {
    .sociaux {
        display: flex;
        gap: 2vw;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            transition: color 0.3s, background-color 0.3s;

            &:hover {
                background-color: var(--couleur-evenement);
                background-color: hsl(67, 50%, 85%);
                border: 3px solid var(--b-texte);

                svg {
                    color: var(--b-texte);
                }
            }

            svg {
                // color: var(--couleur-evenement);
                color: hsl(67, 50%, 85%);
                transition: color 0.3s;

            }
        }
    }
}

.footer__section {
    .sociaux {
        display: flex;
        justify-content: center;
        gap: 2rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            background-color: var(--b-texte);
            transition: color 0.3s, background-color 0.3s;

            &:hover {
                background-color: var(--couleur-evenement);
                border: 3px solid var(--b-texte);

                svg {
                    color: var(--b-texte);
                }
            }

            svg {
                color: var(--couleur-evenement);
                transition: color 0.3s;

            }
        }
    }
}