a {
    text-decoration: none;
    background-color: var(--couleur-footer);
    color: var(--couleur-arriere-footer);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 7px;
    transition: all 0.5s;
    border: 3px solid var(--couleur-arriere-footer);
}

a:hover {
    color: var(--couleur-footer);
    background-color: var(--couleur-arriere-footer);
    border: 3px solid var(--couleur-footer);
}