.diagonale {
    position: relative;
}

.diagonale::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: skewY(-3deg);
    background-color: var(--couleur-arriere-galerie);
}